# ----------------
# PLEASE READ
# ----------------
# This file is an example of the .env file that is needed in order for certain
# features of this application to function properly. Use this file as a template
# to create your own .env file. The application will not read the .env.example file.

# The following values must be populated for the local token server to dispense tokens.
# See README.md for instructions on how to find these credentials in the Symbl Console - https://platform.symbl.ai
SYMBL_APP_ID= YOUR_SYMBL_APP_ID
SYMBL_APP_SECRET= YOUR_SYMBL_APP_SECRET
# Populate this if you have access to custom Symbl endpoint and would like to use it
# SYMBL_API_BASE_PATH=

# See README.md for instructions on how to find these credentials in the Zoom Developer Console - https://marketplace.zoom.us/

# Access Token Endpoints. Change these if you would like to point the Token server hosted on non-local endpoint
REACT_APP_SYMBL_TOKEN_ENDPOINT=YOUR_REACT_APP_SYMBL_TOKEN_ENDPOINT


ZOOM_VERIFICATION_TOKEN=YOUR_ZOOM_VERIFICATION_TOKEN
ZOOM_WEBHOOK_SECRET_TOKEN=YOUR_ZOOM_WEBHOOK_SECRET_TOKEN
NGROK_URL=YOUR_NGROK_URL

VITE_CE_PRIVATE_KEY=YOUR_VITE_CE_PRIVATE_KEY
VITE_CE_PROJECT_ID=YOUR_VITE_CE_PROJECT_ID
VITE_API_KEY_ZCC_ENTRYID=YOUR_VITE_API_KEY_ZCC_ENTRYID
VITE_API_KEY_ZCC_DATA_API_KEY=YOUR_VITE_API_KEY_ZCC_DATA_API_KEY

VITE_ZOOM_JWT_TOKEN=EXAMPLE_ZTC_TOKEN
